<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <div class="tabs">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Logo</strong>
            </a>
            <a class="btn btn-primary" [routerLink]="['/registration']" routerLinkActive="active" >Registration</a>
            <a class="btn btn-primary" [routerLink]="['/user-details']" routerLinkActive="active" >User Details</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-user"></i>
        </button>
      </div>
    </div>
  </header>